.header {
  z-index: 100;
  position: fixed;
  left: 49.5%;
  transform: translateX(-50%);
  background-color: #eaeaea;
  padding: 1.2vw 1.8vw;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  .logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 2.2vw;
    &:hover {
      color: black;
    }
  }
  .navMenu {
    display: flex;
    justify-content: flex-end;
    gap: 2vw;
  }
}
